@model CommodityAPI.Models.Country

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Country</legend>

        @Html.HiddenFor(model => model.CountryID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountryName)
            @Html.ValidationMessageFor(model => model.CountryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrencyID, "Currencies")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CurrencyID", String.Empty)
            @Html.ValidationMessageFor(model => model.CurrencyID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
